.history {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
}
.history:not(:has(.game-info)) {
    display: none;
}
.history th {
	font-weight: bold;
	padding: 5px;
	border: none;
	margin-bottom: 5px;
}
.history td {
	padding: 5px;
	border: none;
	margin-bottom: 5px;
    text-align: center;
}

.history tbody tr:nth-child(odd){
	background: white!important;
}